@charset "UTF-8";

/*===================RESPONSIVE===================*/
@media (max-width: 1000px) {
    html::-webkit-scrollbar {
        width: 0;
    }
}

@media (min-width: 1024px) {
    section, footer {
        padding: 0 12rem 0 12rem;
    }

    /*===================MENU===================*/
    a.logo,
    ion-icon.menu_icon,
    div#menu_exp>ul.social_links,
    div#menu_exp ul.links>li:nth-child(4) {
        display: none;
    }

    div#menu_exp {
        margin: 0;
        height: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-inline: 8rem;
        align-items: baseline;
        justify-content: space-around;
    }

    div#menu_exp header>a {
        gap: 0;
        margin: 0;
        padding: 0;
        display: block;
    }

    div#menu_exp ul.links {
        height: 0;
        gap: 3rem;
        margin: 0;
        padding: 0;
        display: flex;
        font-size: 1.6rem;
        transition: all 1s;
        font-weight: normal;
        flex-direction: row;
    }

    div#menu_exp ul.links li a::after {
        width: 0%;
        content: "";
        height: 2px;
        left: -0.5rem;
        display: block;
        bottom: -2.5rem;
        position: relative;
        transition: width 500ms;
        background-color: var(--brand-green)
    }

    div#menu_exp ul.links li a:hover {
        font-weight: bolder;
    }

    div#menu_exp ul.links li a:hover::after {
        width: 100%;
        padding-inline: 1rem;
    }

    div#menu_exp a[href] button {
        margin: 0;
        width: 25rem;
        padding: 1rem;
        border: 1px solid;
        font-size: 1.5rem;
        transform: initial;
        background-color: rgba(0, 0, 0, 0);
    }

    nav.scroll div#menu_exp a[href] button:hover {
        filter: brightness(1.3);
        background-color: var(--brand-green);
    }

    div#menu_exp header>a,
    div#menu_exp ul.links>li a,
    div#menu_exp header>a>span,
    div#menu_exp a[href]>button {
        color: var(--brand-green);

    }


    nav.scroll div#menu_exp header>a,
    nav.scroll div#menu_exp ul.links>li a,
    nav.scroll div#menu_exp header>a>span,
    nav.scroll div#menu_exp a[href] button {
        color: #fff;
        border-color: #fff;
    }

    nav.scroll div#menu_exp ul.links li a::after {
        background-color: #fff;
    }
    /*==================HOME=================*/
    section#home::before{
        height: calc(100% - var(--header-height));
    }

    section#home div.wrapper{
        row-gap: 5rem;
        width: auto;
        display: grid;
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: 
        'A B'
        'C C';
    }

    section#home div.wrapper h1{
        font-size: 5.2rem;
    }

    section#home .col_A{
        display: flex;
        text-align: left;
        align-self: center;
        justify-content: left;
        flex-direction: column;
        align-items: flex-start;
    }

    section#home .col_B{
        height: 100%;
        margin-bottom: -2.5rem;
    }

    div#statistics{
        width: auto;
        grid-area: C;
        height: auto;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    div#statistics div{
        flex: 1;
    }

    div#statistics div + div{
        border-left: 2px solid var(--brand-green);
    }
    /*==================SERVICES=================*/
    section#services ul.cards {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

    }

    section#services ul.cards li {
        height: 330px;
        width: min(50rem, 30%);
    }


    /*===================ABOUT===================*/
    section#about .wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    section#about .wrapper div {
        width: var(--viewport-width);
    }

    section#about .wrapper div:nth-child(1) {
        order: 1;
    }

    section#about .wrapper div:nth-child(2) {
        order: 0;
    }

    section#about .wrapper img {
        margin: 1rem;
    }

    /*===================CONTACT===================*/
    section#contact .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }

    section#contact .wrapper img {
        margin: 0;
    }

    /*===================FOOTER===================*/
    footer#footer .wrapper {
        gap: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--brand-green);
    }

    footer#footer ul.social_links li:hover {
        transition: all 500ms;
        transform: scale(1.5);
    }

    /*===================ARROW TOP===================*/
    ion-icon#arrow_top {
        right: 3rem;
    }
}