@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*==============DEFAULT AND ROOT==============*/
* {
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-y: overlay;
    margin: .1em auto;
    position: relative;
    width: var(--viewport-width);
    font-family: var(--font-default);
}

:root {
    /*Primary Colors*/
    --brand-green: #00856F;
    --brand-beige: #FFFAF1;
    --brand-green-light: #DCE9E2;
    --brand-green-hover: #00453A;
    --brand-green-light-02: #F7F9F9;
    /*Secondary Colors*/
    --gray-headline: #212529;
    --gray-paragraph: #495057;
    /*Fonts*/
    --font-default: 'DM Sans', sans-serif;
    /*Viewport Dimensions*/
    --header-height: 3.4em;
    --section-height: 1150px;
    --viewport-width: 370px;
}

/*====================CLASS====================*/

.display_flex {
    display: flex;
}

.scroll {
    background-color: var(--brand-green);
}

.scroll a, .scroll a>span, .scroll ion-icon.menu_icon {
    color: #fff;
}

/*===================HEADER===================*/
header {
    top: 0;
    z-index: 1;
    position: fixed;
    width: var(--viewport-width);
    height: var(--header-height);
    background-color: var(--brand-green-light);
}

nav#menu_bar {
    width: 100%;
    padding: .7em 1em;
    transition: all 500ms;
    justify-content: space-between;
}

header nav a {
    color: #000;
    font-size: 1.5em;
    align-self: center;
    text-decoration: none;
}

header a>span {
    font-weight: 900;
    color: var(--brand-green);
}

ion-icon.menu_icon {
    font-size: 2em;
    transition: all 500ms;
    color: var(--brand-green);
}

ion-icon.menu_icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*=================MENU EXPENDED=================*/
div.menu_off {
    display: none;
}

div.menu_on {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 1em;
    display: flex;
    height: 100vh;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-color: var(--brand-green);
}

div.menu_on header {
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    background-color: var(--brand-green);
}

div.menu_on a {
    color: #fff;
}

div.menu_on ion-icon.menu_icon {
    color: #fff;
}

div.menu_on ul.links {
    width: 100%;
    color: #fff;
    display: block;
    list-style: none;
    margin: 6em 0 1em;
    text-align: center;
    font-weight: bolder;
    flex-direction: column;
    justify-content: space-around;
}

div.menu_on ul.links>li {
    margin: 1.5em 0;
    padding: .5em 0;
    font-size: 1.2em;
}

div.menu_on ul.links>li:hover {
    cursor: pointer;
    text-decoration: underline;
}

div.menu_on button.scheduling {
    background-color: #fff;
    color: var(--brand-green);
}

div.menu_on ul.social_links {
    gap: 2em;
    color: #fff;
    font-size: 1.8em;
    list-style: none;
}

div.menu_on ul.social_links li {
    cursor: pointer;
    transition: all 500ms;
}

div.menu_on ul.social_links li:hover {
    transform: scale(1.2);
}

/*================SECTIONS COMMON=================*/

h4 {
    font-size: .9em;
    color: var(--brand-green);
}

h1 {
    font-size: 2em;
    max-width: 398px;
    min-width: 350px;
    padding: 0 .5em 0;
    color: var(--gray-headline);
}

h2 {
    font-size: 1.8em;
    max-width: 398px;
    min-width: 350px;
    padding: 0 .5em 0;
}

p {
    font-size: 1em;
    max-width: 350px;
    font-weight: 100;
    color: var(--gray-paragraph);
}

section {
    padding: 2em 2em;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: var(--section-height);
}

/*============SECTION INTRODUCTION==============*/
section#introduction {
    padding-top: calc(var(--header-height)*2);
    background-color: var(--brand-green-light);
    height: calc(var(--section-height) + var(--header-height));
}

button.scheduling {
    width: 280px;
    border: none;
    padding: 1em;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 2em;
    margin: 1em 0 3.5em;
    transition: all 500ms;
    text-transform: uppercase;
    justify-content: space-evenly !important;
    background-color: var(--brand-green);
}

button.scheduling ion-icon {
    font-size: 1.2em;
}

button.scheduling:hover {
    transform: scale(1.1);
    background-color: var(--brand-green-hover);
}

div#estatisticas {
    width: 90%;
    padding: 1em;
    margin: -1.2em;
    border-radius: .5em;
    background-color: var(--brand-beige);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.155);
}

div#estatisticas h3 {
    font-size: 3em;
    margin-bottom: 0;
}

div#estatisticas p {
    max-width: 100%;
    margin-top: 0;
    color: var(--brand-green);

}

/*============SECTION SERVICES===================*/
section#services {
    height: auto;
    background-color: var(--brand-green-light-02);
}

section#services h4 {
    padding-top: 22em;
}

div#cards_colection {
    width: 100%;
    margin: 1em auto;
}

div#cards_colection ul li {
    width: 100%;
    padding: 1.5em;
    margin: 3em auto;
    list-style: none;
    border-radius: .5em;
    background-color: #fff;
    border: 2px solid var(--brand-green-light);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.098);
    display: flex;
    flex-direction: column;
}

div#cards_colection ion-icon {
    font-size: 1.8em;
    border-radius: 50%;
    color: var(--brand-green);
    background-color: var(--brand-green-light);
}

div#cards_colection h3 {
    margin: .5em 0;
    text-align: left;
    font-size: 1.5em;
}

div#cards_colection p {
    width: 100%;
    text-align: left;
}


/*================SCROLL BAR=====================*/
html::-webkit-scrollbar {
    width: 20px;
    border: 9px solid #fff;
    background-color: var(--gray-paragraph);
}

html::-webkit-scrollbar-thumb {
    border-radius: 1em;
    border: 4px solid #fff;
    background-color: var(--brand-green);
}

/*===================RESPONSIVE===================*/
@media (max-width: 400px) {
    :root {
        --viewport-width: 100%;
    }

    html::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 1200px) {
    :root {
        --viewport-width: 100%;
    }

    body {
        min-width: 280px;
        overflow-y: scroll;
    }
}