@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Primary Colors*/
    --brand-green: #00856F;
    --brand-beige: #FFFAF1;
    --brand-green-light: #DCE9E2;
    --brand-green-hover: #00453A;
    --brand-green-light-02: #F7F9F9;
    /*Secondary Colors*/
    --gray-headline: #212529;
    --gray-paragraph: #495057;
    /*Fonts*/
    --font-default: 'DM Sans', sans-serif;
    /*Viewport Dimensions*/
    --header-height: 3.6em;
    --section-height: 1150px;
    --viewport-width: 370px;
}

body {
    margin: .1em auto;
    position: relative;
    width: var(--viewport-width);
    font-family: var(--font-default);
}

/*===================CLASS===================*/
.display_flex {
    display: flex;
}
.scroll{
    background-color: var(--brand-green);
}
.scroll a, .scroll a > span{
    color: #fff;
}
.scroll a> ion-icon{
    color: #fff;
}
/*===================HEADER===================*/
header {
    top: 0;
    z-index: 1;
    position: fixed;
    width: var(--viewport-width);
    height: var(--header-height);
    background-color: var(--brand-green-light);
}

header nav {
    width: 100%;
    padding: .5em 1em;
    justify-content: space-between;
}

header nav a {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
}

header a span {
    font-weight: 900;
    color: var(--brand-green);
}

header nav a[id=menu] {
    font-size: 2em;
    color: var(--brand-green);
}

/*===================SECTIONS===================*/
section {
    padding: 2em 1em;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: var(--section-height);
}

section#introducao {
    padding-top: calc(var(--header-height)*2);
    background-color: var(--brand-green-light);
    height: calc(var(--section-height) + var(--header-height));
}

h4 {
    font-size: .9em;
    color: var(--brand-green);
}

h1 {
    font-size: 2em;
    padding: 0 .5em 0;
    color: var(--gray-headline);
}

h2 {
    font-size: 1.8em;
    padding: 0 .5em 0;
}

p {
    font-size: 1em;
    font-weight: 100;
    color: var(--gray-paragraph);
}

button {
    width: 280px;
    border: none;
    padding: 1em;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin: 1em 0 3.5em;
    border-radius: 2em;
    text-transform: uppercase;
    justify-content: space-evenly !important;
    background-color: var(--brand-green);
}

div#estatisticas {
    width: 90%;
    padding: 1em;
    margin: -1.2em;
    border-radius: .5em;
    background-color: var(--brand-beige);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.155);
}

div#estatisticas h3 {
    font-size: 3em;
    margin-bottom: 0;
}

div#estatisticas p {
    margin-top: 0;
    color: var(--brand-green);

}

section#servicos {
    height: auto;
    background-color: var(--brand-green-light-02);
}

section#servicos h4 {
    padding-top: 300px;
}

/*SCROLL BAR*/
html::-webkit-scrollbar{
    width: 20px;
    border-radius: 1em;
    border: 9px solid #fff;
    background-color: var(--gray-paragraph);
}
html::-webkit-scrollbar-thumb{
    border-radius: 1em;
    border: 4px solid #fff;
    background-color: var(--brand-green);
}